APP_ENV=production
APP_URL=
TZ=Asia/Tehran

DB_HOST=firekhoydb
DB_PORT=5432
DB_NAME=postgres
DB_USER=root
DB_PASS=
DB_SSLMODE=require

NESHAN_API_KEY=
KAVENEGAR_API_KEY=
KAVENEGAR_SENDER=Kavenegar

SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=
SEED_DISPATCHER_USERNAME=
SEED_DISPATCHER_PASSWORD=

CALLER_WEBHOOK_SECRET=
