<!DOCTYPE html>
<html>
    <head>
        <title>ورود به سامانه مرکز پیام آتش‌نشانی خوی</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css" />
        {% endif %}
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/sha512.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/forms.js"></script> 
		<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
		<script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/qrcode/qrcode.min.js"></script>
    </head>
    <body>
    
    	<div class="container_center">
	{% if gvm.auth.isAuth %}
    	{% if gvm.isMobile %} 
        <b>دستگاه همراه شناسایی شد</b> 
    	{% elseif gvm.isTablet %} 
        <b>تبلت شناسایی شد</b> 
        {% else %} 
        <b>رایانه شناسایی شد</b> 
        {% endif %}
    	
        {% if twofaenablevm.hasError %}
        <p class="error">خطا در فعال‌سازی احراز هویت دومرحله‌ای!</p>
        {% else %}
		<div class="container">
			<section id="content2fa">
	        <form action="{{ gvm.RR_DOC_ROOT }}/controllers/2fa-enable-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}" method="post" 
	               accept-charset="utf-8" id="login_form" name="login_form">
	        	<h1>احراز هویت دومرحله‌ای</h1>
				{% include 'display-logo.twig.html' %}
				
				{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::NONE') or
					  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
					  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT') or
					  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}

				{% if twofa_enable_ctl_action_error != constant('riprunner\\TwoFAResultType::TOPT_REMOVE') and
					  twofa_enable_ctl_action_error != constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
			    <div>
	            	<h3 style='color:black'>لطفاً با یک برنامه احراز هویت (مانند Google Authenticator یا Yubico) این کد QR را اسکن کنید:</h3>
				</div>
				<br>
				<hr>
				<br>
			    <div>
	            	<h2>
						<!-- {{ twofaenablevm.otp_provurl }} -->
						<div id="qrcode" style="padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;"></div>
						<script type="text/javascript">
						new QRCode(document.getElementById("qrcode"), {
							text: "{{ twofaenablevm.otp_provurl }}",
							correctLevel : QRCode.CorrectLevel.H
						});
						</script>
					</h2>
				</div>
				<br>
				<hr>
				<br>
			    <div>
	            	<h3 style='color:black'>یا این کد را در برنامه احراز هویت وارد کنید:</h3>
				</div>
			    <div>
	            	<h3 style='color:blue'>{{ twofaenablevm.otp_secret }}</h3>
				</div>
				<br>
				{% endif %}
				<hr>
				<br>
			    <div>
					{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
					<h3 style='color:black'><label for="twofa_key_verify">برای تأیید حذف، کد فعلی برنامه احراز هویت را وارد کنید</label></h3>	  
					{% else %}
					<h3 style='color:black'><label for="twofa_key_verify">برای تأیید، کد فعلی برنامه احراز هویت را وارد کنید</label></h3>
					{% endif %}	
	            	<input type="text" name="twofa_key_verify" id="twofa_key_verify" 
	            	       placeholder="کد تأیید دومرحله‌ای" required 
	            		   onKeyPress="return submitenter(this,event,document.getElementById('btnConfirm').onclick);" />
				</div>
				{% endif %}
				<div>
				<center>
					{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT') or 
					      twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
					<b><font color="red">کد دومرحله‌ای نامعتبر است. دوباره تلاش کنید.</font></b>
					{% elseif twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_ENABLED') %}
					<b><font color="green">احراز هویت دومرحله‌ای برای کاربر {{ twofaenablevm.user_id }} فعال شد.</font></b>
					{% elseif twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_DISABLED') %}
					<b><font color="blue">احراز هویت دومرحله‌ای برای کاربر {{ twofaenablevm.user_id }} غیرفعال شد.</font></b>
					{% endif %}
				</center>
				</div>
				<div >
					{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::NONE') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT') or
						  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
	            	<input type="button" id="btnCancel" class="close" value="انصراف"  onclick="self.close()" />
	            	<input type="button" id="btnConfirm" 
	                		value="تأیید" 
							   onclick="save_secret(document.getElementById('login_form'), '{{ twofaenablevm.user_id }}', 
							                               '{{ twofaenablevm.firehall_id }}') && 
											   formhash(document.getElementById('login_form'), '{{ twofaenablevm.otp_secret }}', true); return false;" />
					{% else %}
	            	<input type="button" id="btnCancel" class="close" value="بستن" onclick="self.close()" />
					{% endif %}
				</div>
				<script type="text/javascript">

					function save_secret(form, user_id, fhid) {
						{% if twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::TOPT_REMOVE') or
							  twofa_enable_ctl_action_error == constant('riprunner\\TwoFAResultType::INVALID_TOPT_REMOVE') %}
						addformhiddenfield(form, 'form_action', 'remove-otp');
						{% else %}
						addformhiddenfield(form, 'form_action', 'save-otp');
						{% endif %}
						addformhiddenfield(form, 'edit_user_id', user_id);
						addformhiddenfield(form, 'fhid', fhid);
						return true;
					}

					window.onunload = refreshParent;
					function refreshParent() {
						window.opener.location.reload();
					}

				</script>
	        </form>
			</section>
			</div>
	        
	        <p>اگر کار شما تمام شده است، <a href="{{ gvm.RR_DOC_ROOT }}/logout.php">از سامانه خارج شوید</a>.</p>
	        
			<p>وضعیت ورود: {{ gvm.auth.isAuth ? 'وارد شده' : 'خارج شده' }}.</p>
			
			{{ twofa_enable_ctl_class.forceLogoffIfRequired() }}
			
        {% endif %}
	{% else %}
		{% include 'access-denied.twig.html' %}
	{% endif %}
		</div>
	</body>
</html>
