<!DOCTYPE html>
<html>
    <head>
        <title>ورود به سامانه مرکز پیام آتش‌نشانی خوی</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css" />
        {% endif %}
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/sha512.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/forms.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
    </head>
    <body>
    
    	<div class="container_center">
    	{% if gvm.isMobile %} 
        <b>دستگاه همراه شناسایی شد</b> 
    	{% elseif gvm.isTablet %} 
        <b>تبلت شناسایی شد</b> 
        {% else %} 
        <b>رایانه شناسایی شد</b> 
        {% endif %}
    	
        {% if twofavm.hasError %}
        <p class="error">خطا در ورود!</p>
        {% else %}
		<div class="container">
			<section id="content">
	        <form action="{{ gvm.RR_DOC_ROOT }}/process_login.php?{{ gvm.RR_JWT_TOKEN_PARAM }}" method="post" 
	               accept-charset="utf-8" id="login_form" name="login_form">
	        	<h1>ورود به سامانه</h1>
	        	{% include 'display-logo.twig.html' %}
	        	
			    <div>
	            	<label for="twofa_key">کد دریافتی را وارد کنید</label>
	            	<input type="text" name="twofa_key" id="twofa_key" 
	            	       placeholder="کد دومرحله‌ای" required 
	            		   onKeyPress="return submitenter(this,event,document.getElementById('btnLogin').onclick);" />
				</div>
				<div >
	            	<input type="button" id="btnLogin" 
	                		value="ادامه" 
	                   		onclick="return formhash(document.getElementById('login_form'), document.getElementById('twofa_key'), true);" />
	            </div>	
	        </form>
			</section>
			</div>
	
	        {% if gvm.auth.isAuth %}
	        <p>اگر کار شما تمام شده است، <a href="{{ gvm.RR_DOC_ROOT }}/logout.php">از سامانه خارج شوید</a>.</p>
	        {% endif %}
	        <p>وضعیت ورود: {{ gvm.auth.isAuth ? 'وارد شده' : 'خارج شده' }}.</p>
        {% endif %}
        </div>
    </body>
</html>