{% if callout_tracking_vm.firehall_id is not null and 
      (callout_tracking_vm.user_id is not null or 
       callout_tracking_vm.tracking_action is not null) and 
      (callout_tracking_vm.calloutkey_id is not null or 
       (callout_tracking_vm.has_user_password is not null and 
        callout_tracking_vm.user_lat is not null and 
        callout_tracking_vm.user_long is not null)) %}

    {% if callout_tracking_vm.firehall is not null %}
        {% if callout_tracking_vm.tracking_action is not null %}
            {% if callout_tracking_vm.tracking_action == 'mr' %}
            <!-- Monitor Tracking -->
            <!DOCTYPE html>
            <html>
            <head>
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
            <title>نقشه نشان - موقعیت پاسخ‌دهندگان حادثه</title>
            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
            </head>
            <body>
            <!-- GEO Tracking MONITOR -->
            <form id="call_tracking" action="{{ gvm.RR_DOC_ROOT }}/ct/fhid={{ callout_tracking_vm.firehall_id }}&cid={{ callout_tracking_vm.callout_id }}&delay={{ callout_tracking_vm.tracking_delay }}&ta=mr&ckid={{ callout_tracking_vm.calloutkey_id }}&{{ gvm.RR_JWT_TOKEN_PARAM }}"
                    method="POST">

                {% if callout_tracking_vm.responding_people == '' %}
                    <div id="call_tracking_empty" style="font-size: 25px; color:cyan">هنوز پاسخی ثبت نشده است.</div>
                {% endif %}
                {% if callout_tracking_vm.callout_in_progress %}
                    <INPUT TYPE="submit" VALUE="به‌روزرسانی نقشه" 
                        style="font-size: 25px; background-color:yellow" />
                {% else %}
                    <div id="call_tracking_refresh_counter" style="font-size: 25px; color:cyan"><h2>وضعیت حادثه: {{ callout_tracking_vm.callout_status_desc }}</h2></div>
                {% endif %}
            </form>
            <iframe
                title="Neshan Map"
                width="1024"
                height="768"
                style="border:0;"
                loading="lazy"
                src="https://neshan.org/maps/@{{ callout_tracking_vm.firehall.WEBSITE.FIREHALL_GEO_COORD_LATITUDE }},{{ callout_tracking_vm.firehall.WEBSITE.FIREHALL_GEO_COORD_LONGITUDE }},14z"></iframe>
            </body>
            </html>
            {% endif%}
        {% else %}
            <!-- Tracking GEO from call details -->
            {% if callout_tracking_vm.user_authenticated %}
                {% if callout_tracking_vm.callout_in_progress %}
                    {% if callout_tracking_vm.user_lat is not null and callout_tracking_vm.user_long is not null %}
                        <!-- this variable triggers geo insert -->
                        {{ callout_tracking_vm.track_geo }}
                    {% endif %}
                    
                    {% if callout_tracking_vm.tracking_delay is defined and callout_tracking_vm.tracking_delay > 0 %}
                        <html>
                        <head>
                            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
                            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
                            <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
                        </head>
                        <body>
                        <!-- GEO Tracking INSERT: {{ callout_tracking_vm.user_lat }} : {{ callout_tracking_vm.user_long }} -->
                        <div id="call_tracking_response_counter" style="font-size: 25px; color:cyan"></div>
                        <form id="call_tracking_response" action="{{ gvm.RR_DOC_ROOT }}/ct/fhid={{ callout_tracking_vm.firehall_id }}&cid={{ callout_tracking_vm.callout_id }}&delay={{ callout_tracking_vm.tracking_delay }}&uid={{ callout_tracking_vm.user_id }}&ckid={{ callout_tracking_vm.calloutkey_id }}&{{ gvm.RR_JWT_TOKEN_PARAM }}" 
                              method="POST">
                                <INPUT TYPE="submit" onclick="trackResponder(); return true;" VALUE="ردیابی {{ callout_tracking_vm.user_id }}" 
                                       style="font-size: 25px; background-color:yellow" />
                        </form>
                        
                        <script type="text/javascript">
                        var delay_seconds={{ callout_tracking_vm.tracking_delay }};
                        var trackResponderTimer=null;
                        var trackResponderTimerCounter=null;
                        var lastReloadError = '';
                        var user_geo_coords = null;

                        function trackResponder() {
                            //debugger;
                            window.clearInterval(trackResponderTimerCounter);
                            var div1 = document.getElementById("call_tracking_response_counter");
	                        div1.innerHTML="<b>Recording GEO now...</b>";

                            var file = "{{ gvm.RR_DOC_ROOT }}/js/spin.js";
                            var randomNum = Math.round(Math.random() * 10000);
                            file += "?rand=" + randomNum;
                            console.info("Check if a connection exists url: " + file);

                            if(lastReloadError == '') {
                                lastReloadError = 'connecting...';
                                div1.innerHTML='<b>'+lastReloadError+'</b>';
                            }
                            var xhr = new XMLHttpRequest();
                            xhr.open('HEAD', file, true);
                            xhr.send();
                            xhr.addEventListener("readystatechange", processTrackingRequest, false);
                        
                            function processTrackingRequest(e) {
                                //debugger;
                                console.info("In processTrackingRequest state: " + xhr.readyState);
                                if (xhr.readyState == 4) {
                                    if (xhr.status >= 200 && xhr.status < 304) {
                                        lastReloadError = xhr.statusText;
                                        div1.innerHTML='<b>SUCCESS: '+lastReloadError+'</b>';
                                        console.info("SUCCESS - Connection exists submitting page...");

                                        //debugger;
                                        var getGeoCoordinatesForm = document.getElementById("call_tracking_response");
                                        var lat_lng = [ user_geo_coords.lat,user_geo_coords.lng ];
                                        handleGeoCoords(lat_lng, getGeoCoordinatesForm);
                                        getGeoCoordinatesForm.submit();
                                    } 
                                    else {
                                        if(xhr.statusText != '') {
                                            lastReloadError = xhr.statusText;
                                        }
                                        else {
                                            lastReloadError = xhr.responseText;
                                        }
                                        div1.innerHTML='<b>ERROR: '+lastReloadError+'</b>';
                                        console.info("FAIL - Connection DOES NOT exist status: " + lastReloadError);
                                        trackResponder();
                                    }
                                }
                            }
                        }
                        function trackResponderCounter() {
                          //debugger;
                          var div1 = document.getElementById("call_tracking_response_counter");
                          div1.innerHTML = "<b>" + delay_seconds + ", " + 
                                           (user_geo_coords != null && user_geo_coords.lat != null ? user_geo_coords.lat.toFixed(2) : '') + 
                                           "," + 
                                           (user_geo_coords != null && user_geo_coords.lng != null ? user_geo_coords.lng.toFixed(2) : '')  + 
                                           "</b>";
                       	  delay_seconds -= 1;
                        }
                        function handleLocationError(err) {
                          // alert(`ERROR(${err.code}): ${err.message}`);
                          console.warn(`ERROR(${err.code}): ${err.message}`);
                        }

                        function watchGEOLocationCoords_callback_fn(geoAccess,param2) {
                            console.info('In watchGEOLocationCoords_callback_fn: access = ' + geoAccess + 
                                         (param2 == null ? 'n/a' : ", geo: " + (param2.lat != null ? param2.lat.toFixed(5) : '') + 
                                          ", " + (param2.lng != null ? param2.lng.toFixed(5) : '')));
                            if(geoAccess) {
                                user_geo_coords = {
                                  lat: param2.lat,
                                  lng: param2.lng
                                };
                            }
                        }
                        
                        $( document ).ready(function() {
                          //debugger;
                          // Timers to count down when tracking will be saved
                          setTimeout(function () {trackResponder()}, {{ callout_tracking_vm.tracking_delay }}000);
                          setInterval(function () {trackResponderCounter()}, 1000);

                          // ردیابی users co-ordinates
                          watchGEOLocationCoords(watchGEOLocationCoords_callback_fn);

                          {% if callout_tracking_vm.user_lat is null or callout_tracking_vm.user_long is null %}
                          // Try HTML5 geolocation.
                          if (navigator.geolocation) {
                              navigator.geolocation.getCurrentPosition(function(position) {
                                //debugger;
                                user_geo_coords = {
                                  lat: position.coords.latitude,
                                  lng: position.coords.longitude
                                };
                              }, handleLocationError);
                          }
                          {% endif %}
                        });
                        </script>
                        
                        </body>
                        </html>
                    {% else %}
                        OK={{ callout_tracking_vm.callout_tracking_id }}|{{ callout_tracking_vm.responding_people_geo_list }}|
                    {% endif %}
                {% else %}
                    {% if callout_tracking_vm.tracking_delay is defined and callout_tracking_vm.tracking_delay > 0 %}
                        <html>
                            <head>
                            </head>
                        <body>
                            <div id="call_tracking_response_counter" style="font-size: 25px; color:cyan">
                            <b>Finished tracking responder: {{ callout_tracking_vm.user_id }}</b>
                            </div>
                            <script type="text/javascript">
                                window.close();
                            </script>
                        </body>
                        </html>
                    {% else %}
                        CALLOUT_ENDED={{ callout_tracking_vm.callout_status }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
