<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>سامانه مرکز پیام آتش‌نشانی خوی</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/mobile.css?version=1" />
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/table-styles-mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css?version=1" />
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/table-styles.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/freeze-header.css" />
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/forms.js"></script>
    </head>
    <body>
        <div class="container_center">
        {% if gvm.auth.isAuth and (gvm.auth.isAdmin) %} 
                
            {% include 'user-welcome.twig.html' %}
            {% include 'live-callout-warning.twig.html' %}
            
            <input type="hidden" id="se" name="se" value="true"/>
            
            <div class="menudiv_wrapper">
              <nav class="vertical">
                <ul>
                  <li>
                    <label for="main_page">بازگشت به</label>
                    <input type="radio" name="verticalMenu" id="main_page" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/main-menu-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">منوی اصلی</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <label for="logout">خروج</label>
                    <input type="radio" name="verticalMenu" id="logout" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/logout.php">خروج از سامانه</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>

            
            <form action="{{ gvm.RR_DOC_ROOT }}/controllers/callout-status-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}" 
                  method="post" name="status_edit_form">

            <table id="box-table-a">
                <thead>
                    <tr>
                    <th scope="col">شناسه</th>
                    <th scope="col" class="column_nowrap">نام وضعیت</th>
                    <th scope="col" class="column_nowrap">عنوان نمایشی وضعیت</th>
                    <th scope="col">در حال پاسخ‌دهی</th>
                    <th scope="col">عدم پاسخ‌دهی</th>
                    <th scope="col">حادثه لغو شد</th>
                    <th scope="col">حادثه پایان یافت</th>
                    <th scope="col">در آماده‌باش</th>
                    <th scope="col">پاسخ پیش‌فرض</th>
                    <th scope="col">آزمایشی</th>
                    <th scope="col">اعلان به همه</th>
                    <th scope="col">اعلان به پاسخ‌دهندگان</th>
                    <th scope="col">اعلان به عدم پاسخ‌دهندگان</th>
                    
                    <th scope="col">دسترسی مدیر</th>
                    <th scope="col">دسترسی پاسخ‌دهی</th>
                    <th scope="col">دسترسی پاسخ‌دهی برای دیگران</th>
                    
                    <th scope="col">دسترسی جامع</th>

                    {% for user_type in calloutstatus_vm.user_type_list %}
                    <th scope="col">نوع کاربر {{ user_type.name }} مجاز</th>
                    {% endfor %}
                                        
                    <th scope="col" class="column_nowrap">تاریخ/زمان به‌روزرسانی</th>
                    <th scope="col" colspan="15" align="Center">ویرایش</th>
                    <tr>
                </thead>

                {% if statussmenu_ctl_edit_statusid is null and not statussmenu_ctl_insert_new %}
                <tr>
                    <td colspan="28">
                        <input type="button" value="افزودن" onclick="edit_status(this.form, -1);" />
                    </td>
                </tr>
                {% endif %}

                {% if statussmenu_ctl_insert_new is defined and statussmenu_ctl_insert_new %}
                <tr>
                <td>
                جدید
                </td>

                <td class="column_nowrap">
                    <input id="edit_name" name="edit_name" type="input" value=""/>
                </td>
                <td class="column_nowrap">
                    <input id="edit_display_name" name="edit_display_name" type="input" value=""/>
                </td>

                <td>
                    <input id="edit_is_responding" name="edit_is_responding" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_not_responding" name="edit_not_responding" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_cancelled" name="edit_cancelled" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_completed" name="edit_completed" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_standby" name="edit_standby" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_default" name="edit_default" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_testing" name="edit_testing"  type="checkbox"/>
                </td>
                <td>
                    <input id="edit_signal_all" name="edit_signal_all"  type="checkbox"/>
                </td>
                <td>
                    <input id="edit_signal_responders" name="edit_signal_responders" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_signal_خیرnresponders" name="edit_signal_nonresponders" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_admin_access" name="edit_admin_access" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_respond_self_access" name="edit_respond_self_access" type="checkbox"/>
                </td>
                <td>
                    <input id="edit_respond_others_access" name="edit_respond_others_access" type="checkbox"/>
                </td>
                
                <td>
                    <input id="edit_access_flags_inclusive" name="edit_access_flags_inclusive" type="checkbox"/>
                </td>
                
                {% for user_type in calloutstatus_vm.user_type_list %}
                <td>
                    <input id="edit_usertype_{{ user_type.id }}" name="edit_usertype_{{ user_type.id }}" type="checkbox"/>
                </td>
                {% endfor %}

                <td colspan="3">
                <input type="button" value="ذخیره" 
                       onclick="save_status(this.form, -1);" />
                
                <input type="button" value="انصراف" 
                       onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}/controllers/callout-status-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}'; return false;" />
                </td>
                </tr>
                {% endif %}

            
            {% for status in calloutstatus_vm.status_list %}
                {% set edit_current_row = 
                   (statussmenu_ctl_edit_statusid is defined and 
                    statussmenu_ctl_edit_statusid == status.id) %}
                <tr>
                <td>
                {{ status.id }}
                </td>
                
                <td class="column_nowrap">
                {% if edit_current_row %}
                    <input id="edit_name" name="edit_name" type="input" value="{{ status.name }}"/>
                {% else %}
                    {{ status.name }}
                {% endif %}
                </td>
                <td class="column_nowrap">
                    {% if edit_current_row %}
                    <input id="edit_display_name" name="edit_display_name" type="input" value="{{ status.display_name }}"/>
                {% else %}
                    {{ status.display_name }}
                {% endif %}
                </td>

                <td>
                {% if edit_current_row %}
                    <input id="edit_is_responding" name="edit_is_responding" 
                           type="checkbox" {{ status.statusDef.IsResponding() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsResponding() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_not_responding" name="edit_not_responding" 
                           type="checkbox" {{ status.statusDef.IsNotResponding() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsNotResponding() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_cancelled" name="edit_cancelled" 
                           type="checkbox" {{ status.statusDef.IsCancelled() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsCancelled() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_completed" name="edit_completed" 
                           type="checkbox" {{ status.statusDef.IsCompleted() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsCompleted() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_standby" name="edit_standby" 
                           type="checkbox" {{ status.statusDef.IsStandby() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsStandby() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_default" name="edit_default" 
                           type="checkbox" {{ status.statusDef.IsDefaultResponse() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsDefaultResponse() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_testing" name="edit_testing" 
                           type="checkbox" {{ status.statusDef.Isآزمایشی() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.Isآزمایشی() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_signal_all" name="edit_signal_all" 
                           type="checkbox" {{ status.statusDef.IsSignalAll() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsSignalAll() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_signal_responders" name="edit_signal_responders" 
                           type="checkbox" {{ status.statusDef.IsSignalResponders() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsSignalResponders() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_signal_خیرnresponders" name="edit_signal_nonresponders" 
                           type="checkbox" {{ status.statusDef.IsSignalNonResponders() ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.statusDef.IsSignalNonResponders() ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_admin_access" name="edit_admin_access" 
                           type="checkbox" {{ status.access_admin ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_admin ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_respond_self_access" name="edit_respond_self_access" 
                           type="checkbox" {{ status.access_respond_self ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_respond_self ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                <td>
                {% if edit_current_row %}
                    <input id="edit_respond_others_access" name="edit_respond_others_access" 
                           type="checkbox" {{ status.access_respond_others ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_respond_others ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                
                <td>
                {% if edit_current_row %}
                    <input id="edit_access_flags_inclusive" name="edit_access_flags_inclusive" 
                           type="checkbox" {{ status.access_flags_inclusive ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ status.access_flags_inclusive ? 'بله' : 'خیر' }}
                {% endif %}
                </td>
                
                
                {% for user_type in calloutstatus_vm.user_type_list %}
                <td>
                {% if edit_current_row %}
                    <input id="edit_usertype_{{ user_type.id }}" name="edit_usertype_{{ user_type.id }}" 
                           type="checkbox" {{ attribute(status,'usertype_'~user_type.id) ? 'checked="checked"' : '' }} />
                {% else %}
                    {{ attribute(status,'usertype_'~user_type.id) ? 'بله' : 'خیر' }}
                {% endif %}
                    
                </td>
                {% endfor %}


                <td class="column_nowrap">
                   {{ status.updatetime }}
                </td>
                
                {% if edit_current_row %}
                    <td colspan="2">
                    <input type="button" value="ذخیره" 
                           onclick="save_status(this.form, {{ status.id }});" />
                    
                    <input type="button" value="انصراف" 
                           onclick="window.location.href='{{ gvm.RR_DOC_ROOT }}/controllers/callout-status-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}'; return false;" />
                    </td>
                {% else %}
                    <td>
                    <input type="button" value="ویرایش" 
                           onclick="edit_status(this.form, {{ status.id }});" />
                    </td>
                    <td>
                    <input type="button" value="حذف" 
                           onclick="return delete_status(this.form, {{ status.id }},'{{ status.display_name|escape('js') }}');" />
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            
            </table>
            
            </form>
            
<script type="text/javascript">
    function edit_status(form, status_id) {
       addformhiddenfield(form, 'form_action', 'edit');
       addformhiddenfield(form, 'edit_status_id', status_id);
       
       form.submit();
    }

    function save_status(form, status_id) {
       addformhiddenfield(form, 'form_action', 'save');
       addformhiddenfield(form, 'edit_status_id', status_id);
       
       form.submit();
    }

    function delete_status(form, status_id, status_id_name) {
        if(confirm('Confirm DELETE for status: ' + status_id_name + '?')) {
            addformhiddenfield(form, 'form_action', 'delete');
            addformhiddenfield(form, 'edit_status_id', status_id);
            
            form.submit();
            return true;
        }
        return false;
    }
    
    var item = document.getElementById("edit_name");
    if(item) {
        item.focus();
    }
</script>
        {% else %}
            {% include 'access-denied.twig.html' %}
        {% endif %}
        </div>
    </body>
</html>
