<!DOCTYPE html>
<html>
    <head>
        <title>ورود به سامانه مرکز پیام آتش‌نشانی خوی</title>
        {% if gvm.isMobile %}
		<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/mobile.css" />
		<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-mobile.css?version=1" />
        {% else %}
		<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css" />
		<link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/callout-main.css?version=1" />
		{% endif %}
	
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/sha512.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/spin.js"></script>
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/forms.js"></script> 
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/common-utils.js"></script>
    </head>
    <body>
    
    	<div class="container_center">
    	{% if gvm.isMobile %} 
        <b>دستگاه همراه شناسایی شد</b> 
    	{% elseif gvm.isTablet %} 
        <b>تبلت شناسایی شد</b> 
        {% else %} 
        <b>رایانه شناسایی شد</b> 
        {% endif %}
    	
		<div class="container">
			<section id="content">
	        <form action="{{ gvm.RR_DOC_ROOT }}/process_login.php" method="post" 
	               accept-charset="utf-8" id="login_form" name="login_form">
	        	<h1>ورود به سامانه</h1>
	        	{% include 'display-logo.twig.html' %}

				{% if loginvm.hasError %}
				<p class="ci_header_type_blink_response_status">{{ loginvm.errorMsg }}</p>
				{% endif %}
	        	<div>
	            	<label for="firehall_id">شناسه ایستگاه</label>
	            	<input type="text" name="firehall_id" id="firehall_id" 
	            	       placeholder="شناسه ایستگاه" required 
	            		   onKeyPress="enterMovesFocus(this,event,document.getElementById('user_id'))"/>
	            </div>
	            <div>
					<label for="user_id">نام کاربری</label>
			        <input type="text" name="user_id" id="user_id" 
			               placeholder="نام کاربری" required 
			        	   onKeyPress="enterMovesFocus(this,event,document.getElementById('password'))"/>
			    </div>
			    <div>
	            	<label for="password">رمز عبور</label>
	            	<input type="password" name="password" id="password" 
	            	       placeholder="رمز عبور" required 
	            		   onKeyPress="return submitenter(this,event,document.getElementById('btnLogin').onclick);" />
				</div>
				<div >
	            	<input type="button" id="btnLogin" 
	                		value="ورود" 
	                   		onclick="return formhash(document.getElementById('login_form'), document.getElementById('password'));" />
	            </div>	
	        </form>
			</section>
			</div>
	
	        {% if gvm.auth.isAuth %}
	        <p>اگر کار شما تمام شده است، <a href="{{ gvm.RR_DOC_ROOT }}/logout.php">از سامانه خارج شوید</a>.</p>
	        {% endif %}
	        <p>وضعیت ورود: {{ gvm.auth.isAuth ? 'وارد شده' : 'خارج شده' }}.</p>

        </div>
    </body>
</html>
