<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>سامانه مرکز پیام آتش‌نشانی خوی</title>
        {% if gvm.isMobile %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/mobile.css" />
        {% else %}
        <link rel="stylesheet" href="{{ gvm.RR_DOC_ROOT }}/styles/main.css" />
        {% endif %}
        <script type="text/JavaScript" src="{{ gvm.RR_DOC_ROOT }}/js/jquery-2.1.1.min.js"></script>
    </head>
    <body>
        <div class="container_center">
        {% if gvm.auth.isAuth %}
            {% include 'user-welcome.twig.html' %}
            {% include 'live-callout-warning.twig.html' %}

            {% if gvm.auth.isAdmin and mainmenu_vm.hasApplicationUpdates %}
                <br />
                <span class='notice'>نسخه فعلی {{ mainmenu_vm.LOCAL_VERSION }} 
                نسخه جدید {{ mainmenu_vm.REMOTE_VERSION }}</span>
                <br />
                <a target='_blank' href='{{ mainmenu_vm.REMOTE_VERSION_NOTES }}' 
                   class='notice'>مشاهده جزئیات نسخه جدید</a>
            {% endif %}
            
            <div class="menudiv_wrapper">
              <nav class="vertical">
                <ul>
                  {% if gvm.auth.isAdmin %}
                  <li>
                    <label for="admin">مدیریت</label>
                    <input type="radio" name="verticalMenu" id="admin" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/users-menu-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">کاربران</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/admin-settings-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">مدیریت ایستگاه‌ها و شیفت‌ها</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/callout-type-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">کدهای حادثه</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/callout-status-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">کدهای وضعیت پاسخ</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/address-override-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">اصلاح آدرس‌ها</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/system-config-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">تنظیمات سامانه</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/system-info-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">اطلاعات سامانه</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/security-menu-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">اطلاعات امنیتی</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/system-test-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">تست سامانه</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/view-logs-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">مشاهده لاگ‌ها</a></li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                  {% if gvm.auth.isAdmin or gvm.auth.isDispatcher %}
                  <li>
                    <label for="call_history">حوادث</label>
                    <input type="radio" name="verticalMenu" id="call_history" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/callout-history-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">حوادث و پاسخ‌دهندگان</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/incidents-dashboard-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">مدیریت حوادث جدید</a></li>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/callout-monitor-controller.php?server_mode=false&{{ gvm.RR_JWT_TOKEN_PARAM }}">پایش حوادث فعال</a></li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                  {% if gvm.auth.isAdmin %}
                  <li>
                    <label for="reports">گزارش‌ها</label>
                    <input type="radio" name="verticalMenu" id="reports" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/reports-charts-controller.php?{{ gvm.RR_JWT_TOKEN_PARAM }}">نمودارها</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <label for="mobile_app">موبایل</label>
                    <input type="radio" name="verticalMenu" id="mobile_app" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/apk/RipRunnerApp.apk">نصب اپ اندروید</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <label for="my_account">حساب من</label>
                    <input type="radio" name="verticalMenu" id="my_account" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/controllers/users-menu-controller.php?se=true&{{ gvm.RR_JWT_TOKEN_PARAM }}">پروفایل</a></li>
                      </ul>
                    </div>
                  </li>
                  {% endif %}
                  <li>
                    <label for="logout">خروج</label>
                    <input type="radio" name="verticalMenu" id="logout" />
                    <div>
                      <ul>
                        <li><a href="{{ gvm.RR_DOC_ROOT }}/logout.php">خروج از سامانه</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
        {% else %}
            {% include 'access-denied.twig.html' %}
        {% endif %}
        </div>
    </body>
</html>
