{% block sms_header %}
اعلان حادثه ۱۲۵: {{ callout.codeDescription }}, {{ callout.address }}, {# This comment removes the newline that follows #}
{% endblock %}
{% block sms_footer %}
{{ callout.codeType is not null ? callout.codeType.customTag : '---' }} {# This comment removes the newline that follows #}
{% endblock %}
{% block sms_comments %}
{{ callout.comments is not null ? 'توضیحات: ' ~ callout.comments ~ ' ' : '' }}{# This comment removes the newline that follows #}
{% endblock %}
{% block sms_cmds %}
{{ '\n' }}پاسخ‌دهی: {{ smsrespondhall }}, عدم پاسخ: {{ smsnotresponding }}
{% endblock %}
{% block sms_url %}
وب: {% block sms_url_webroot %}[webroot-start]{{ callout.firehall.WEBSITE.WEBSITE_ROOT_URL }}[webroot-end]{% endblock %}[shorten-start]ci/cid={{ callout.id }}&fhid={{ callout.firehall.FIREHALL_ID }}&ckid={{ callout.keyId }}&authvalue=x[shorten-end]{# This comment removes the newline that follows #}
{% endblock %}
