{% if callout_status_entity.IsCancelled() or callout_status_entity.IsCompleted() %}
پاسخ‌دهنده {{ responding_userid }} وضعیت حادثه را به «{{ callout_status_entity.getDisplayName() }}» تغییر داد.{# This comment removes the newline that follows #}
{% else %}
پاسخ‌دهنده {{ responding_userid }} وضعیت خود را برای حادثه {{ callout.code }} به «{{ callout_status_entity.getDisplayName() }}» تغییر داد{% if not responding_usereta is null %}؛ زمان رسیدن: {{ responding_usereta }}{% endif %}.{# This comment removes the newline that follows #}
{% endif %}
